// Fontes
$fontePrincipal : 'Roboto', sans-serif;

// Esquema de Cores
$corDeFundo : #f7f1e3;
$corDeFundoSecundaria : #d1ccc0;
$corPrincipal : #cd6133;
$corSecundaria : #ff793f;
$corDoCabecalho : #ffffff;
$corDoTexto : #000;

// Breakpoints
$mobile : 767px;
$tablet : 1023px;